.about {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
}

.aboutTop{
    display: flex;
    align-items: center;
}

.aboutTop img{
    margin-left: 1rem;
    border:3px solid var(--color-secondary);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.3);
}

.aboutBottom {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.title{
    font-weight: 700;
    font-size: 3.5rem;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.desciption{
    font-size:1.1rem ;
}

.aboutVideo {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}
.aboutVideo video {
    margin-right: 2rem;
    border:3px solid var(--color-secondary);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.3);
    width: 40rem;

}
/*=================================================Responsive 1115px==============================================*/

@media (max-width: 1115px) {
    .title {
        font-size: 3rem;
    }
    .desciption{
        font-size:0.9rem ;
    }
    .aboutTop img{
        height: 50%;
        width: 50%;
    }
    .aboutVideo video{
        width: 30rem;
    }
    .about {
        padding: 0 2rem;
    }
    
}
/*=================================================Responsive 900px==============================================*/

@media (max-width: 900px) {
    .title {
        font-size: 2.2rem;
    }

    .aboutTop {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
    }

    .aboutTop img{
        margin-bottom: 1rem;
        height: 80%;
        width: 80%;
    }
    .aboutBottom {
        flex-direction: column;
    
    }
    .aboutVideo video{
        width: 90%;
        height: 90%;
    }
    .about {
        padding: 0 2rem;
    }
    
}
